<div class="col-sm-6 col-md-4" *ngFor="let product of products">
        <div class="thumbnail">
          <h3 style="text-align: center">{{product.name}}</h3>
          <p class="caption">{{product.shortDescription}}</p>
          <div> <a [routerLink]="['/product', product.product_id]">detail info</a></div>
          <table width="100%">
          <tr>
            <td>Price:</td>
            <td><h2>{{product.price}}</h2></td>
            <td align="right"><basket-btn [product]="product"></basket-btn></td>
          </tr>
          </table>
        </div>
      </div>





