<div>
  <h2>Items:</h2>
  <table border="1px" width="70%">
    <th>№</th>
    <th>Name</th>
    <th>Price</th>
    <tr *ngFor="let item of order.items ; let i = index">
      <td>{{item.name}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.price}}</td>
      <td>{{item.quantity*item.price}}</td>
      <td>
        <button (click)="deleteProduct(p)">delete</button>
      </td>
    </tr>
  </table>
  <h2>Total : {{total}}</h2>
  <button class="nav-btn" (click)="saveOrder()"><h1>save</h1></button>
</div>
<div>
  <new-user></new-user>
</div>
