<div>
  <h2>Items:</h2>
  <table border="1px" width="70%">
    <th>№</th>
    <th>Название</th>
    <th>Количество</th>
    <th>Цена</th>
    <th>сумма</th>
    <tr *ngFor="let item of order.items ; let i = index">
      <td>{{i+1}}</td>
      <td><a [routerLink]="['/product', item.product_id]">{{item.name}}</a></td>
      <td>{{item.quantity}}</td>
      <td>{{item.price}}</td>
      <td>{{item.quantity*item.price}}</td>
      <td>
        <button class ="nav-btn btn-danger"(click)="deleteItem(item)">Х</button>
      </td>
    </tr>
  </table>
  <h2>Total : {{total}}</h2>
  <div>
    <p>Коментарий к заказу:</p>
    <textarea cols="80" rows="5" [(ngModel)]="order.description"></textarea>
  </div>
  <button class="btn btn-success" (click)="saveOrder()">Подтвердить заказ</button>
</div>
<div>
  <new-user></new-user>
</div>
